body {
  background-color: #c0bdc2e1;
  width: 100%;
  margin: 0;
}
.header {
  color: white;
}
.header h1 {
  text-shadow: 2px 2px 3px black;
}
h1,
h2 {
  font-family: Courgette;
}
.overall {
  padding: 0 80px 40px 80px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.flex-container div {
  padding: 15px 10px 15px 10px;
}
.flex-container {
  background-color: #e417e4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-container a {
  text-decoration: none;
  color: black;
  font-size: 13px;
}
.flex-container a:hover {
  background-color: grey;
  color: white;
  padding: 5px;
  transition: 0.2s;
}
.flex-container a:active {
  opacity: 0.3;
}
.click {
  background-color: black;
  color: white;
  padding: 0 20px 0 20px;
}
.click:hover {
  opacity: 0.5;
  transition: 0.2s;
  cursor: pointer;
}
.click:active {
  background-color: blue;
}
.section-container {
  display: flex;
  margin-top: 10px;
}
.side-nav {
  background-color: #e417e4;
}
.side-nav ul {
  padding-right: 20px;
}
.side-nav li {
  padding-top: 10px;
}
.side-nav a:hover {
  color: blue;
  transition: 0.2s;
}
.side-nav a:active {
  color: red;
}
.content {
  background-color: white;
  padding: 10px;
}
.content {
  padding: 10px;
}
h1 {
  text-align: center;
}
.footer {
  background-color: white;
  margin-top: 10px;
  padding: 15px;
}

@media screen and (max-width: 767px) {
  .section-container {
    flex-direction: column;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  .overall {
    padding: 20px 15px 40px 15px;
  }
}
